@model TrainzInfo.Models.Stations

@{
    ViewData["Title"] = Model.Name;
}
<meta property="og:image" content="@Url.Action("GetImage", "StationImages", new { Model.id })" />
<h1 class="text-center my-4">@Model.Name</h1>

<div class="container">

    <h4>Інформація</h4>
    <hr />

    <div class="row bg-light p-3 rounded mb-4">
        <!-- Основна інформація -->
        <div class="col-md-6 order-md-2 text-center mb-3">
            <img class="img-fluid img-thumbnail"
                 src="@Url.Action("GetImageDetails", "StationImages", new { Model.StationImages.id })"
                 alt="Зображення станції">

        </div>

        <div class="col-md-6 order-md-1">
            <p><strong>Місто:</strong> @Html.DisplayFor(model => model.City)</p>
            <p><strong>Філія:</strong> @Html.DisplayFor(model => model.Railway)</p>
            <p><strong>Область:</strong> @Html.DisplayFor(model => model.Oblast)</p>

            @if (Model.StationInfo != null)
            {
                <div class="mt-3 station-info">
                    @Html.Raw(Model.StationInfo.BaseInfo)
                </div>
                <div class="mt-3 station-info">
                    @Html.Raw(Model.StationInfo.AllInfo)
                </div>
            }

            <div class="mt-3 d-flex flex-wrap gap-2">
                @if (Model.StationsShadules != null)
                {
                    <a class="btn btn-info" asp-controller="StationsShadules" asp-action="Index" asp-route-station="@Model.Name">
                        Розклад по станції
                    </a>
                }
                @if (Model.railwayUsersPhotos != null)
                {
                    <a class="btn btn-warning" asp-controller="RailwayUsersPhotoes" asp-action="Index" asp-route-id="@Model.id">
                        Фотографії користувачів
                    </a>
                }
            </div>
        </div>
    </div>

    }

    @if (User != null &&
    (User.IsInRole("Publisher") || User.IsInRole("Admin") || User.IsInRole("Superadmin")))
    {
        <div class="d-flex flex-wrap gap-2 mb-4">
            <a class="btn btn-info" target="_blank" asp-action="Edit" asp-route-id="@Model.id">Редагувати поточну інформацію</a>
            <a class="btn btn-info" target="_blank" asp-controller="StationInfoes" asp-action="Edit" asp-route-id="@Model.StationInfo.id">Додати додаткову інформацію</a>
        </div>
    }

</div>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
