@model IEnumerable<TrainzInfo.Models.PassangerCarriere>

@{
    ViewData["Title"] = "Index";
}

<h1>Пассажирские вагоны</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceType)
            </td>
            <td>
                <img src="@item.ImgsrcInside" width="180" height="150" />
            </td>
            <td>
                <img src="@item.ImgsrcOutside" width="180" height="150" />
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.id">Редактировать</a> |
                <a class="btn btn-outline-info" asp-controller="PassangerCarriegesInfoes" asp-action="Details" asp-route-idcar="@item.id">Подробная информация</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
