@model IEnumerable<TrainzInfo.Models.TrainzType>

@{
    ViewData["Title"] = "Поезда";
}

    <h1>Поезда</h1>
    <head>
        <meta charset="utf-8">
        <title>Фон</title>
        <style>
            body {
                background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScDNWcFxHDwgif3KnEeJTBP0qABTnFDcaf28vXTq_KqkdFsT87&usqp=CAU);
            }
        </style>
    </head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |*@
                @if (item.Type == "Товарный поезд")
                {
                    <a class="btn btn-primary" asp-controller="CargoCarrieges" asp-action="Index">Товарные вагоны</a>
                }
                else if( item.Type =="Пассажирский вагон")
                {
                    <a class="btn btn-info" asp-controller="PassangerCarrieres" asp-action="Index">Пассажирские вагоны</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<style type="text/css">
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>