@model TrainzInfo.Models.DepotList

@{
    ViewData["Title"] = Model.Name;
}

<h1>Редагувати</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Назва депо")
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Філія")
                @Html.DropDownList("UkrainsRailways", ViewBag.Ukrrailways as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="UkrainsRailways" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Місто")
                <input type="text" id="cities" asp-for="City" placeholder="Почніть вводити назву міста" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>