@model IEnumerable<TrainzInfo.Models.LocomotivesType>

@{
    ViewData["Title"] = "Локомотивы";
}

<h1>Локомотивы</h1>

<p>
    @*<a asp-action="Create">Добавить локомотив</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                    @if (item.Type == "Электровоз")
                    {
                        <a class="btn btn-info" asp-controller="Electic_locomotive" asp-action="Index">Смотреть весь список электровозов</a>
                    }
                    else if (item.Type == "Тепловоз")
                    {
                        <a class="btn btn-info" asp-controller="DieselLocomoives" asp-action="Index">Смотреть весь список тепловозов</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
