@model TrainzInfo.Models.CargoCarriegesInfo

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Type</h1>

<div>
    <h4>CargoCarriegesInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Тип вагона")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Информация")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dd>
            <img src="@Model.Imgsrc" width="160" height="150">
        </dd>
    </dl>
</div>
<div>
    @if (Model != null) {
        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.id">Редактировать</a> 
    }
    else
    {
        <meta http-equiv="refresh" content="600">
    }
    <a asp-action="Index">Вернутся</a>
</div>
