@model IEnumerable<TrainzInfo.Models.CargoCarriegesInfo>

@{
    ViewData["Title"] = "Index";
}

    <h1>@Html.DisplayNameFor(model => model.Type)</h1>

<p>
    <a asp-action="Create">Добавить вагон</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                <img src="@item.Imgsrc" width="160" height="150">
            </td>
            <td>
                <a class="btn btn-outline-success"  asp-action="Edit" asp-route-id="@item.id"> Редактировать </a>
                <a class="btn btn-outline-primary" asp-controller="CargoCarriegesInfoes" asp-action="Details" asp-route-idcar="@item.id">Информация</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id"> Удалить </a>
            </td>
        </tr>
}
    </tbody>
</table>
