@model TrainzInfo.Models.DieselLocomoives

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <a asp-controller="DieselLocomotiveInfoes" asp-action="Details" asp-route-idloc="@Model.id">Подробная информация тепловозе  </a>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiseslPower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiseslPower)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
