@model TrainzInfo.Models.ElectricTrain

@{
    ViewData["Title"] = "Редагувати електропоїзд";
}

<h1>Редагувати електропоїзд</h1>
<h3>@Model.Name</h3>
<hr />
<div class="row" style="background-color:aliceblue">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Назва")
                @Html.DropDownList("Name", ViewBag.models as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Name" class="text-danger"></span>
                <a class="btn btn-info" asp-asp-controller="SuburbanTrainsInfoes" asp-action="Create">Додати модель</a>
            </div>
            <div class="form-group">
                @Html.DisplayName("Номер")
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Максиммальна швидкість")
                <input asp-for="MaxSpeed" class="form-control" />
                <span asp-validation-for="MaxSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Депо приписки")
                @Html.DropDownList("DepotTrain", ViewBag.depots as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="DepotTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Останній ремонт")
                <input type="date" asp-for="LastKvr" class="form-control" />
                <span asp-validation-for=LastKvr class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Побудовано")
                <input type="date" asp-for="CreatedTrain" class="form-control" />
                <span asp-validation-for=CreatedTrain class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Завод-виробник")
                @Html.DropDownList("PlantCreate", ViewBag.plants as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for=PlantCreate class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Завод який проводив ремонт")
                @Html.DropDownList("PlantKvr", ViewBag.plants as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for=PlantKvr class="text-danger"></span>
            </div>
            <div>
                <a class="btn btn-info" target="_blank" asp-controller="Plants" asp-action="Create">Додати завод</a>
            </div>
            <div class="form-group" style="padding: 10px">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>