@model IEnumerable<TrainzInfo.Models.ElectricTrain>

@{
    ViewData["Title"] = "Електропоїзди";
}

<h1>Електропоїзди</h1>
<head>
    <link rel="stylesheet" href="">
</head>
@if (ViewBag.user != null)
{
    if (ViewBag.user.Role == "Superadmin")
    {
        <b>Кількість записів: @Model.Count().ToString()</b>
    }
}

<p>
    @if (ViewBag.user != null)
    {
        @if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
        {
            <a class="btn btn-info" asp-controller="ElectricTrains" asp-action="Create">Створити електропоїзд</a>
            <a class="btn btn-info" asp-controller="SuburbanTrainsInfoes" asp-action="Index">Моделі електропоїздів</a>
            <a class="btn btn-info" asp-action="UpdateIndex">Оновити дані</a>
        }
    }
</p>

<form method="get">
    <div class="form-inline">
        @Html.DropDownList("Depot", ViewBag.depots as SelectList, htmlAttributes: new { @class = "form-control" })
        @Html.DropDownList("Name", ViewBag.name as SelectList, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Відобразити" class="btn btn-info" />
    </div>
</form>
<div>
    @foreach (var item in Model)
    {
        <div style="font-size:25px; height:370px; margin:20px; background-color:aliceblue">
            <div style="margin:20px; position:relative; top:10px;">
                <img class="img-thumbnail" width="350" height="350"
                     src="@Url.Action("GetImage", "ElectricTrains",
                        new { item.id })" />
            </div>
            <div style="position:relative; left:420px; top:-200px">
                <div>@Html.DisplayName("Назва: ") @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Model)</div>
    @*             <div>@Html.DisplayName("Кількість вагонов: ")@Html.DisplayFor(modelItem => item.VagonsCountP)</div> *@
                <div>@Html.DisplayName("Максимальна швидкість: ")@Html.DisplayFor(modelItem => item.MaxSpeed)</div>
                <div>@Html.DisplayName("Депо: ") @Html.DisplayFor(modelitem => item.DepotList.Name)</div>
                <div>@Html.DisplayName("Місто: ") @Html.DisplayFor(modelitem => item.City.Name)</div>
            </div>

            <div style="position:relative; left:800px; top:-300px; width:150px">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Детально</a>
                @if (ViewBag.user != null)
                {
                    if (ViewBag.user.Role == "Superadmin")
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.id">Редагувати</a>

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Видалити</a>
                    }
                }

            </div>
        </div>
    }
</div>

<style>
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
