@model IEnumerable<TrainzInfo.Models.ElectricTrain>

@{
    ViewData["Title"] = "Pre-Moderation";
}

<h1>Электрички</h1>
<head>
    <link rel="stylesheet" href="">
</head>

<p>

</p>
<div>
    @foreach (var item in Model)
    {
        <div style="font-size:25px; height:370px; margin:20px; background-color:aliceblue">
            <div style="margin:20px; position:relative; top:10px;">
                <img class="img-thumbnail" width="350" height="350"
                     src="@Url.Action("GetImage", "ElectricTrains",
                        new { item.id })" />
            </div>
            <div style="position:relative; left:420px; top:-200px">
                <div>@Html.DisplayName("Назва: ") @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Model)</div>
                <div>@Html.DisplayName("Максимальная скорость: ")@Html.DisplayFor(modelItem => item.MaxSpeed)</div>
                <div>@Html.DisplayName("Депо: ") @Html.DisplayFor(modelitem => item.DepotTrain)</div>
                <div>@Html.DisplayName("Місто: ") @Html.DisplayFor(modelitem => item.DepotCity)</div>
            </div>
            <div style="position:relative; left:800px; top:-400px">
                <a class="btn btn-info" asp-controller="ElectricTrains" asp-action="Allow" asp-route-id="@item.id">Одобрить</a>
                <a class="btn btn-danger" asp-controller="ElectricTrains" asp-action="delete/{id}" asp-route-id="@item.id">Удалить</a>

            </div>
        </div>
    }
</div>

<style>
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>

