@model IEnumerable<TrainzInfo.Models.MetroLines>

@{
    ViewData["Title"] = "Линии метро";

}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
        }
    </style>
</head>
<body>
    <p>
        @if (ViewBag.user != null)
        {
            @if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
            {
                <a class="btn btn-dark" asp-action="Create">Добавить</a>
            }
        }
    </p>
    <div style="width:80%">
        @foreach (var item in Model)
        {
        <div style="margin:10px">
            <a style="font-size:25px;" class="btn btn-info" asp-action="Details" asp-route-id="@item.id">
                <p>@item.Metro</p>
                <p>@item.NameLine</p>
                <p>@item.CountStation</p>
                <img class="img-thumbnail" width="950" height="850"
                     src="@Url.Action("GetImage", "MetroLines",
                        new { item.id })" />

            </a>
            @if (ViewBag.user != null)
            {
                @if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
                {
                    <a class="btn btn-success" asp-action="AddImageForm" asp-route-id="@item.id">Добавить картинку</a>
                    <a class="btn btn-danger" asp-action="delete/{id}" asp-route-id="@item.id">Удалить</a>
                }
            }

        </div>
        }
    </div>
</body>
</html>
