@model IEnumerable<TrainzInfo.Models.TrainsShadule>

@{
    ViewData["Title"] = "Розклад поїздів";
}


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


<p>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Superadmin")
        {
            <a class="btn btn-info" asp-action="Create">Додати зупинку</a>
        }
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Назва");
            </th>
            <th>
                @Html.DisplayName("Номер поїзда");
            </th>
            <th>
                @Html.DisplayName("Час прибуття");
            </th>
            <th>
                @Html.DisplayName("Час выдправлення");
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-controller="Stations" asp-action="Details" asp-route-name="@item.NameStation">@Html.DisplayFor(modelItem => item.NameStation)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberTrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.TimeOfDay)
            </td>
            <td>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Superadmin")
                        {
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        }
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<style type="text/css">
    td {
        background-color: aliceblue; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: cornflowerblue;
        text-decoration: solid;
    }
</style>