@model IEnumerable<TrainzInfo.Models.TrainsShadule>

@{
    ViewData["Title"] = "Розклад поїздів";
}


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


<p>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Superadmin")
        {
            <a asp-action="Create">Create New</a>
        }
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberTrain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberTrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.TimeOfDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

