@model IEnumerable<TrainzInfo.Models.TrainsShadule>

@{
    ViewData["Title"] = "Розклад поїздів";
}


<meta name="viewport" content="width=device-width" />
<title>Index</title>


<p>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Superadmin")
        {
            <a class="btn btn-info" asp-action="Create" asp-route-numbertr="@ViewBag.traininfo.Number">Додати зупинку</a>
        }
    }

</p>
<H2>Поїзд номер - "@ViewBag.traininfo.Number" сполученням: "@ViewBag.traininfo.StationFrom" - "@ViewBag.traininfo.StationTo" </H2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Назва");
            </th>
            <th>
                @Html.DisplayName("Номер поїзда");
            </th>
            <th>
                @Html.DisplayName("Час прибуття");
            </th>
            <th>
                @Html.DisplayName("Час выдправлення");
            </th>
            <th>
                @Html.DisplayName("Відстань");
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div style="font-size:25px">
                    <a asp-controller="Stations" asp-action="Details" asp-route-name="@item.NameStation">@Html.DisplayFor(modelItem => item.NameStation)</a>
                    </div>
                </td>
                <td>
                    <div style="font-size:20px"; color:black>
                        @Html.DisplayFor(modelItem => item.NumberTrain)
                    </div>
                </td>
                <td>
                    <div style="font-size:20px"; color:black>
                        @Html.DisplayFor(modelItem => item.Arrival.TimeOfDay)
                    </div>
                </td>
                <td>
                    <div style="font-size:20px"; color:black>
                        @Html.DisplayFor(modelItem => item.Departure.TimeOfDay)
                    </div>
                </td>
                <td>
                    <div style="font-size:20px"; color:black>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </div>
                </td>

                <td>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Superadmin")
                        {
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<style type="text/css">
    td {
        background-color: aliceblue; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: cornflowerblue;
        text-decoration: solid;
    }
</style>