@model TrainzInfo.Models.Electic_locomotive

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Electic_locomotive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-inline">
                @Html.DropDownList("User", ViewBag.users as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DisplayName("Серия(пример ДС3, ЧС4)");
                <div class="form-inline">
                    @Html.DropDownList("Seria", ViewBag.Seria as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>
                <span asp-validation-for="Seria" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Номер(пример 001, 002)");
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Конструкционная скорость");
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Колличество секций");
                <input asp-for="SectionCount" class="form-control" />
                <span asp-validation-for="SectionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Общая мощность ТЭД");
                <input asp-for="ALlPowerP" class="form-control" />
                <span asp-validation-for="ALlPowerP" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Картинка(ссылка на фото)");
                <input asp-for="LocomotiveImg" class="form-control" />
                <span asp-validation-for="LocomotiveImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>