@model TrainzInfo.Models.Electic_locomotive

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Seria</h1>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<h4>Электровоз</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Название");
                <input asp-for="Seria" class="form-control" />
                <span asp-validation-for="Seria" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Номер");
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Скорость");
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Количество секций");
                <input asp-for="SectionCount" class="form-control" />
                <span asp-validation-for="SectionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Общая мощность");
                <input asp-for="ALlPowerP" class="form-control" />
                <span asp-validation-for="ALlPowerP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-info" asp-controller="LocomotiveBaseInfoes" asp-action="Create">Добавить базовую информацию</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
