@model IEnumerable<TrainzInfo.Models.Electic_locomotive>

@{
    ViewData["Title"] = "Index";
}

<h1>Электровозы</h1>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<p>
    <a class="btn btn-info" asp-action="Create">Добавить электровоз</a>
</p>

<div class="maininfo" style="position:absolute">
    @foreach(var item in Model)
    {
        <div style="margin:25px; width:500px; background-color:aliceblue">
            <div>
                <img src="@item.LocomotiveImg" width="280" height="190" />
            </div>
            <div>
                <div>@Html.DisplayFor(modelItem => item.Seria)</div>
                <div>@Html.DisplayFor(modelItem => item.Number)</div>
                <div>@Html.DisplayFor(modelItem => item.Speed)</div>
                <div>@Html.DisplayFor(modelItem => item.ALlPowerP)</div>
            </div>
            <div style="position:absolute; left:400px; top:100px; width:250px">
                <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@item.id">Редактировать @item.Seria - @item.Number</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.id">Детальная информация</a>
                @*<a class="btn btn-outline-primary" asp-controller="ListRollingStones" asp-action="Index" asp-route-idlocname="@item.Seria">Смотреть перечень локомотивов @item.Seria - @item.Number</a>*@
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                <a class="btn btn-outline-success" asp-controller="UserLocomotivePhotos" asp-action="Index" asp-route-name="@item.Seria">Фото пользователей</a>
            </div>
        </div>
    }
</div>

<style type="text/css">
    td {
        background: #fff; /* Цвет фона */
        padding: 5px; /* Поля в ячейках */
        opacity: 0.8; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width 700;
        color: black;
        text-decoration: solid;
    }
</style>