@model IEnumerable<TrainzInfo.Models.Electic_locomotive>

@{
    ViewData["Title"] = "Локомотивы";
}

<h1>Электровозы</h1>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<p>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
        {
            <a class="btn btn-info" target="_blank" asp-action="Create">Добавить локомотив</a>
        }
    }
    
</p>

<form method="get">
    <div class="form-inline">
        @Html.DropDownList("Seria", ViewBag.seria as SelectList, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Отобразить" class="btn btn-info" />
    </div>
</form>

<div class="maininfo" style="position:absolute">
    @foreach (var item in Model)
    {
        <div style="margin:25px; width:1100px; background-color:aliceblue; height:300px">
            <div style="position:relative; left:20px; top:20px;">
                <div class="img">
                    <img class="img-thumbnail" width="350" height="250"
                         src="@Url.Action("GetImage", "Electic_locomotive",
                        new { item.id })" />
                </div>
            </div>
            <div style="position:relative; left:410px; top:-180px; font-size:25px">
                <div>@Html.DisplayName("Название - ") @Html.DisplayFor(modelItem => item.Seria)</div>
                <div>@Html.DisplayName("Номер - ") @Html.DisplayFor(modelItem => item.Number)</div>
                <div>@Html.DisplayName("Скорость - ") @Html.DisplayFor(modelItem => item.Speed)</div>
                <div>@Html.DisplayName("Общая мощность ТЭД - ") @Html.DisplayFor(modelItem => item.ALlPowerP)</div>
            </div>
            <div style="position:relative; left:780px; top:-380px; width:250px">


                <a class="btn btn-outline-info" style="width:250px; margin:10px;" asp-action="Details" asp-route-id="@item.id">Детальная информация</a>
                <a class="btn btn-outline-success" style="width:250px; margin:10px;" asp-controller="UserLocomotivePhotos" asp-action="Index" asp-route-name="@item.Seria" asp-route-number="@item.Number">Фото пользователей</a>
                @if (ViewBag.user != null)
                {
                    if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
                    {
                        <a class="btn btn-outline-primary" style="width:250px; margin:10px;" asp-action="edit" asp-route-id="@item.id">Редактировать @item.Seria - @item.Number</a>
                        <a class="btn btn-outline-danger" style="width:250px; margin:10px;" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                    }
                }
            </div>
        </div>
    }
</div>

