@model IEnumerable<TrainzInfo.Models.Electic_locomotive>

@{
    ViewData["Title"] = "Index";
}

<h1>Электровозы</h1>

<p>
    <a asp-action="Create">Добавить электровоз</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th>
                @Html.DisplayName("Скорость")
            </th>
            <th>
                @Html.DisplayName("Колличество секций")
            </th>
            <th>
                @Html.DisplayName("Мощность")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALlPowerP)
            </td>
            <td>
                <img src="@item.LocomotiveImg" width="180" height="120" />
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |*@
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.id">Детальная информация</a>
                <a class="btn btn-outline-primary" asp-controller="ListRollingStones" asp-action="Index" asp-route-idlocname="@item.Name">Смотреть перечень локомотивов @item.Name</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
