@model TrainzInfo.Models.PassangerCarriegesInfo

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Type</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Тип вагона")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Информация")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>
</div>
<div>
    @if (Model != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.id">Редагуввати информацию</a>
    }
    else
    {
        <meta http-equiv="refresh" content="900">

    }
    <a asp-controller="PassangerCarrieres" asp-action="Index">Вернутся обратно</a>
</div>
