@model TrainzInfo.Models.Train

@{
    ViewData["Title"] = "Стоворити поїзд";
}


<hr />
<div class="row">
    <div class="col-md-4" style="background-color:aliceblue">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                @Html.DisplayName("Номер")
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="StationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Станція відправлення")
                <input type="text" id="cities" asp-for="StationFrom" placeholder="Почніть вводити назву міста" class="form-control" />
                
                <span asp-validation-for="StationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Станція прибуття")
                @Html.DropDownList("StationTo", ViewBag.city as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="StationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Тип поїзда")
                @Html.DropDownList("Type", ViewBag.type as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DisplayName("Ім'я поїзда якщо існує")
                <input asp-for="NameOfTrain" class="form-control" />
                <span asp-validation-for="NameOfTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Не використовується")
                <input asp-for="IsUsing" class="form-control" />
                <span asp-validation-for="IsUsing" class="text-danger"></span>
            </div>
            @if (ViewBag.user != null)
            {
                if (ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
                {
                    <a class="btn btn-dark" target="_blank" asp-controller="Stations" asp-action="Create">Додати станцію</a>
                    <a class="btn btn-dark" asp-controller="TypeOfPassTrains" asp-action="Create">Додати тип</a>
                }
            }
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>


