@model TrainzInfo.Models.Train

@{
    ViewData["Title"] = "Информация";
}

<h1>Информация</h1>

<div style="background-color:aliceblue">
    <div style="position:relative; left:20px">
        <div>
            <b>@Html.DisplayName("Номер: ")</b> <p>@Html.DisplayName(Model.Number.ToString())</p>
        </div>
        <div>
            <b>@Html.DisplayName("Маршрут: ")</b>
            <p>@Html.DisplayName(Model.StationFrom + " - " + Model.StationTo)</p>
        </div>
        <div>
            <b>@Html.DisplayName("Тип: ")</b> <p>@Html.DisplayName(Model.Type)</p>
        </div>
        @if (Model.NameOfTrain != null && Model.NameOfTrain != "")
        {
            <div>
                <b>@Html.DisplayName("Назва: ")</b> <p>@Html.DisplayName(Model.NameOfTrain)</p>
            </div>
        }
    </div>
    <div style="position:relative; left:520px; top:-170px;">
        @if (ViewBag.user != null)
        {
            @if (ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Publisher")
            {
                <a class="btn btn-primary" target="_blank" asp-controller="TrainzStations" asp-action="Create">Добавить рассписание</a>
            }
        }
    </div>
</div>
<div style="background-color:aliceblue;">
     <div style="position:relative; left:50px">
    @if (ViewBag.stations != null)
    {
        <h2>Рассписание</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Имя станции")
                    </th>
                    <th>
                        @Html.DisplayName("Прибытие")
                    </th>
                    <th>
                        @Html.DisplayName("Отправление")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.stations as List<TrainsShadule>)
                {
                    <tr>
                        <td>
                                <a asp-controller="Stations" asp-action="Details" asp-route-name="@item.NameStation">@Html.DisplayFor(modelitem => item.NameStation)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Departure)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Arrival)
                        </td>
                        <td>
                            @if (ViewBag.user != null)
                            {
                                if (ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
                                {
                                    <a class="btn btn-success" asp-controller="TrainzStations" asp-action="Edit" asp-route-id="@item.id">Редагуввати</a>
                                    <a class="btn btn-danger" asp-controller="TrainzStations" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </div>
</div>
<div style="position:relative; left:20px">
    @if (ViewBag.user != null)
    {
        @if (ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
        {
            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.id">Редагуввати</a>
            @*<a asp-action="Index">Back to List</a>*@
        }
    }
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>