@model TrainzInfo.Models.Electrick_Lockomotive_Info

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Назва")
                @Html.DropDownList("Name", ViewBag.seria as SelectList)
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Тип тока");
                <input asp-for="Electric_Type" class="form-control" />
                <span asp-validation-for="Electric_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Мощность");
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Общая инфа");
                <textarea style="width:700px; height:700px" asp-for="Baseinfo" class="form-control"></textarea>
                <span asp-validation-for="Baseinfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Подробно");
                <textarea style="width:700px; height:700px" asp-for="AllInfo" class="form-control"></textarea>
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>