@model TrainzInfo.Models.Electrick_Lockomotive_Info

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<div>
    <h4>@Model.Name</h4>
    <a asp-controller="ListRollingStones" asp-action="Edit" asp-route-idlocname=@Model.Name>Добавить фото электровоз @Model.Name </a> ||
    @*<a asp-controller="ListRollingStones" asp-action="Index" asp-route-idlocname=@Model.Name>Список электровозов @Model.Name</a>*@
    <hr />
    <div style="background-color:aliceblue">
        <div>@Html.DisplayName("Назва") @Html.DisplayName(Model.Name)</div>
        <div>@Html.DisplayName("Тип тока") @Html.DisplayName(Model.Electric_Type)</div>
        <div>@Html.DisplayName("Общая мощность ТЭД") @Html.DisplayName(Model.Power.ToString())</div>
        <div >
            <p>@ViewBag.base_info</p>
        </div>
        <div>@Html.DisplayName("Подробная информация") @Html.DisplayName(Model.AllInfo)</div>
    </div>
</div>
<div>
    @if (Model != null && Model.Name != null){
        <a asp-action="Edit" asp-route-id="@Model.id">Редактировать</a>
      }
    else
    {
        <meta http-equiv="refresh" content="600">
    }
    <a asp-action="Index">Back to List</a>
</div>
