@model TrainzInfo.Models.Electrick_Lockomotive_Info

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Electrick_Lockomotive_Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electric_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electric_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baseinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baseinfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllInfo)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
