@model TrainzInfo.Models.Users

@{
    ViewData["Title"] = "Пользователь";
}

<h1>@Model.Name</h1>

<div>

    <hr />
    <div class="row" style="background-color:aliceblue">
        <div class="img">
            @if (Model.Image == null)
            {
                <p>Нет картинки</p>
            }
            else
            {
                <img class="img-thumbnail" width="350" height="350"
                     src="@Url.Action("GetImage", "Users",
             new { Model.Id })" />
            }
        </div>
        <div style="font-size:30px">
            <div>@Html.DisplayName("Возраст: ") @Html.DisplayName(Model.Age.ToString())</div>
            <div>@Html.DisplayName("Пошта: ") @Html.DisplayName(Model.Email)</div>
            <div>@Html.DisplayName("Роль: ") @Html.DisplayName(Model.Role)</div>
        </div>
    </div>
    <div style="position:absolute; left:1150px; top:250px; width:200px">
        <a class="btn btn-info" style="margin:10px; width:220px" asp-action="Edit" asp-route-id="@Model.Id">Редактировать данные</a>
        <a class="btn btn-info" style="margin:10px; width:220px" asp-action="AddAvatarForm" asp-route-id="@Model.Id">Добавить аватар</a>

    </div>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Superadmin")
        {
                    <a class="btn btn-success" asp-controller="MainImages" asp-action="Index" >Основні зображення</a>
                    <a class="btn btn-success" asp-action="Index" >Користувачі</a>
        }
    }
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>