@model TrainzInfo.Models.RailwayUsersPhoto

@{
    ViewData["Title"] = "UserPhotoDetails";
}


<head>
    <meta property="og:url" content="http://trainzinfo.org.ua/RailwayUsersPhotoes/Details +@Model.id">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@Url.Action("GetImage", "RailwayUsersPhotoes", new { Model.id })">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:site_name" content="trainzinfo" />
    <meta property="og:title" content="TrainzInfo">
    <meta property="og:description" content="Железнодорожный сайт">
    <title>Details</title>
</head>
<body>

    <div>
        <h4>RailwayUsersPhoto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NameUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NameUser)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CityFrom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CityFrom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CitytTo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CitytTo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Information)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Information)
            </dd>
            <div>
                <img class="img-thumbnail" width="350" height="350"
                     src="@Url.Action("GetImage", "RailwayUsersPhotoes",
                        new { Model.id })" />
            </div>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <style>
        body {
            background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
        }
    </style>
</body>
</html>
