@model TrainzInfo.Models.Diesel_trainz

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Diesel_trainz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                @Html.DisplayName("Название")
                @*<label asp-for="Name" class="control-label"></label>*@
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Колличество вагонов")
                @*<label asp-for="VagonCount" class="control-label"></label>*@
                <input asp-for="VagonCount" class="form-control" />
                <span asp-validation-for="VagonCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Мощность дизеля")
                @*<label asp-for="Power" class="control-label"></label>*@
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Базовая информация")
                @*<label asp-for="Power" class="control-label"></label>*@
                <textarea style="width:500px; height:500px" asp-for="BaseInfo" class="form-control"></textarea>
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Подробное описание")
                @*<label asp-for="Power" class="control-label"></label>*@
                <textarea style="width:500px; height:500px" asp-for="AllInfo" class="form-control"></textarea>
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Картинка")
                @*<label asp-for="ImgSrc" class="control-label"></label>*@
                <input asp-for="ImgSrc" class="form-control" />
                <span asp-validation-for="ImgSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>