@model TrainzInfo.Models.NewsInfo

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.NameNews</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Imgsrc)*@
            <img src="@Model.Imgsrc" width="600" height="500" />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.NameNews)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameNews)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.BaseNewsInfo)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaseNewsInfo)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.NewsInfoAll)*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewsInfoAll)
        </dd>
    </dl>
</div>
<div>

    @if (Model != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.id">Редактировать информацию</a>
    }
    else
    {
        <meta http-equiv="refresh" content="900">

    }
    <a asp-action="Index">Вернутся обратно</a>
</div>
