@model IEnumerable<TrainzInfo.Models.IpAdresses>

@{
    ViewData["Title"] = "IP";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IpAddres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IpAddres)
                </td>
                <td>
                    @* @if (item.Users != null)
                    {
                        @Html.DisplayFor(modelItem => item.Users.Name)
                    } *@
                </td>
                <td>
                    <a asp-action="edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="delete/{id}" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
