@model TrainzInfo.Models.Train

@{
    ViewData["Title"] = "Details";
}

<h1>Информация</h1>

<div style="background-color:aliceblue">
    <div>
        <b>@Html.DisplayName("Номер: ")</b> <p>@Html.DisplayName(Model.Number.ToString())</p>
    </div>
    <div>
        <b>@Html.DisplayName("Маршрут: ")</b>
        <p>@Html.DisplayName(Model.StationFrom + " - " + Model.StationTo)</p>
    </div>
    <div>
        <b>@Html.DisplayName("Тип: ")</b> <p>@Html.DisplayName(Model.Type)</p>
    </div>
    @if (Model.NameOfTrain != null && Model.NameOfTrain != "")
    {
        <div>
            <b>@Html.DisplayName("Название: ")</b> <p>@Html.DisplayName(Model.NameOfTrain)</p>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>