@model IEnumerable<TrainzInfo.Models.TrainzStations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (ViewBag.user != null)
    {
        if (ViewBag.user.Role == "Superadmin")
        {
            <a asp-action="Create">Create New</a>

        }
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameStationStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDepet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameStationStop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfDepet)
                </td>
                <td>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Superadmin")
                        {
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>

                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
