@page "/electric-trains"
@using TrainzInfoShared.DTO.GetDTO
@inject NavigationManager Nav
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS

<h1 class="mb-4 text-center">Електропоїзди</h1>

@if (IsSuperAdmin)
{
    <b>Кількість записів: @ElectricTrains?.Count</b>
}

<div class="mb-3">
    @if (IsPublisherOrAdminOrSuperAdmin)
    {
        <button class="btn btn-info mb-2" @onclick="@CreateTrain">Створити електропоїзд</button>
        <button class="btn btn-info mb-2" @onclick="@ViewTrainModels">Моделі електропоїздів</button>
        <button class="btn btn-info mb-2" @onclick="@UpdateData">Оновити дані</button>
    }
</div>

<!-- Фільтри -->
<div class="row g-2 mb-4">
    <div class="col-12 col-md-4">
        <select class="form-control" @bind="SelectedDepot">
            <option value="">Всі депо</option>
            @foreach (var depot in DepotList)
            {
                <option value="@depot">@depot</option>
            }
        </select>
    </div>
    <div class="col-12 col-md-4">
        <select class="form-control" @bind="SelectedName">
            <option value="">Всі назви</option>
            @foreach (var name in NameList)
            {
                <option value="@name">@name</option>
            }
        </select>
    </div>
    <div class="col-12 col-md-4">
        <select class="form-control" @bind="SelectedFilia">
            <option value="">Всі філії</option>
            @foreach (var filia in FiliaList)
            {
                <option value="@filia">@filia</option>
            }
        </select>
    </div>
    <div class="col-12 col-md-4">
        <button class="btn btn-info w-100" @onclick="ApplyFilter">Відобразити</button>
    </div>
</div>
<div class="mb-4">
    <button class="btn btn-secondary" @onclick="ClearFilter">Скинути фільтр</button>
</div>

<div class="row" id="trainsContainer">
    @if (ElectricTrains != null)
    {
        @foreach (var train in ElectricTrains)
        {
            <div class="col-12 mb-4 train-card">
                <div class="card shadow-sm fade-in">
                    <div class="row g-0">
                        <div class="col-12 col-md-4">
                            <img class="img-fluid rounded-start" src="@train.Image" alt="@train.Name" />
                        </div>
                        <div class="col-12 col-md-5 p-3">
                            <h5>@train.Name - @train.Model</h5>
                            <p><b>Депо:</b> @train.DepotList</p>
                            <p><b>Філія:</b> @train.UkrainsRailway</p>
                            <p><b>Область:</b> @train.Oblast</p>
                            <p><b>Місто:</b> @train.City</p>
                            <p><b>Станція:</b> @train.Station</p>
                            <p><b>Максимальна швидкість:</b> @train.MaxSpeed км/год</p>
                        </div>
                        <div class="col-12 col-md-3 d-flex flex-column justify-content-center p-3">
                            <button class="btn btn-info mb-2" @onclick="() => ViewDetails(train.id)">Детально</button>

                            @if (IsSuperAdmin)
                            {
                                <button class="btn btn-success mb-2" @onclick="() => EditTrain(train.id)">Редагувати</button>
                                <button class="btn btn-danger" @onclick="() => DeleteTrain(train.id)">Видалити</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-center">Завантаження...</p>
    }
</div>

@code {
    private List<ElectricTrainDTO> ElectricTrains { get; set; } = new();
    private List<ElectricTrainDTO> FilteredTrains { get; set; } = new();

    private string SelectedDepot { get; set; } = "";
    private string SelectedName { get; set; } = "";
    private string SelectedFilia { get; set; } = "";

    private UserDto CurrentUser { get; set; }

    private bool IsSuperAdmin => CurrentUser?.Role == "Superadmin";
    private bool IsPublisherOrAdminOrSuperAdmin;

    private int currentPage = 1;
    private bool isLoading = false;
    private bool allLoaded = false;
    private bool isFilterLoad = false;
    private string depotNameFromQuery;

    private List<string> FiliaList = new();
    private List<string> DepotList = new();
    private List<string> NameList = new();

    protected override async Task OnInitializedAsync()
    {

        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        depotNameFromQuery = query["depotsName"];

        await CheckRoles();
        // Завантаження першої сторінки електропоїздів
        await Load();

        // Підписка на JS скрол
        await JS.InvokeVoidAsync("addElectricsScrollListener", DotNetObjectReference.Create(this));
    }

    private async Task Load()
    {
        if (isLoading || allLoaded) return;

        isLoading = true;

        if (!string.IsNullOrEmpty(depotNameFromQuery))
        {
            SelectedDepot = depotNameFromQuery;
        }
        var url = $"api/electrictrains/get-electrics?page={currentPage}" +
                $"{(string.IsNullOrWhiteSpace(SelectedDepot) ? "" : $"&depo={Uri.EscapeDataString(SelectedDepot)}")}" +
                $"{(string.IsNullOrWhiteSpace(SelectedName) ? "" : $"&name={Uri.EscapeDataString(SelectedName)}")}" +
                $"{(string.IsNullOrWhiteSpace(SelectedFilia) ? "" : $"&filia={Uri.EscapeDataString(SelectedFilia)}")}";
        var trainsPage = await Http.GetFromJsonAsync<List<ElectricTrainDTO>>(url);
        if (trainsPage == null || trainsPage.Count == 0)
        {
            allLoaded = true;
        }
        else
        {
            ElectricTrains.AddRange(trainsPage);
            if (!isFilterLoad)
            {
                FiliaList.AddRange(await Http.GetFromJsonAsync<List<string>>($"api/electrictrains/getfilias"));
                DepotList.AddRange(await Http.GetFromJsonAsync<List<string>>($"api/electrictrains/getdepots"));
                NameList.AddRange(await Http.GetFromJsonAsync<List<string>>($"api/electrictrains/getnames"));
                isFilterLoad = true;
            }
            currentPage++;

            // Додаємо невелику паузу для плавного появлення
            foreach (var t in trainsPage)
            {
                await Task.Delay(50);
                StateHasChanged();
            }
        }

        isLoading = false;
    }

    private async Task CheckRoles()
    {
        if (AuthStateProvider is CustomAuthStateProvider customAuth)
        {
            // Перевірка стану авторизації на сервері
            await customAuth.CheckAuthenticationAsync();

            // Отримуємо ClaimsPrincipal
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity?.IsAuthenticated ?? false)
            {
                var email = user.Identity.Name;
                var roles = user.Claims
                                .Where(c => c.Type == ClaimTypes.Role)
                                .Select(c => c.Value)
                                .ToList();

                IsPublisherOrAdminOrSuperAdmin = roles.Contains("Admin");
                IsPublisherOrAdminOrSuperAdmin = roles.Contains("Superadmin");

            }
            else
            {

            }
        }
    }
    private async Task ApplyFilter()
    {
        currentPage = 1;
        allLoaded = false;
        ElectricTrains.Clear();          // если хотите начать с нуля
        await Load();                 // загружаем первую страницу

        StateHasChanged();
    }

    private async Task ClearFilter()
    {
        SelectedFilia = SelectedDepot = SelectedName = "";
        currentPage = 1;
        ElectricTrains.Clear();
        await Load();
    }


    private void CreateTrain() => Nav.NavigateTo("/electric-trains/create");
    private void ViewTrainModels() => Nav.NavigateTo("/suburbantrainsinfoes");
    private void ViewDetails(int id) => Nav.NavigateTo($"/electrictrains/{id}");
    private void EditTrain(int id) => Nav.NavigateTo($"/electrictrains/edit/{id}");
    private void DeleteTrain(int id) { /* TODO: видалення */ }


    private async Task UpdateData()
    {
        var response = Http.GetStringAsync("api/electrictrains/update");
        Console.WriteLine(response);
        Nav.NavigateTo("/electric-trains");
    }

    [JSInvokable]
    public async Task OnScrollNearBottom()
    {
        await Load();
    }
}
