@model TrainzInfo.Models.StationsShadule

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>


<hr />
<a class="btn" asp-controller="StationsShadules" asp-action="Create">Обновить</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Станция")
                @Html.DropDownList("Station", ViewBag.stations as SelectList)
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Филия")
                @Html.DropDownList("UzFilia", ViewBag.uz as SelectList)
                <span asp-validation-for="UzFilia" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Время прибытия")
                <input asp-for="TimeOfArrive" class="form-control" />
                <span asp-validation-for="TimeOfArrive" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Время отправления")
                <input asp-for="TimeOfDepet" class="form-control" />
                <span asp-validation-for="TimeOfDepet" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Поезд")
                @Html.DropDownList("TrainInfo", ViewBag.trainz as SelectList)
                <a target="_blank" class="btn btn-success" asp-controller="Trains" asp-action="Create">Добавить поезд</a>
                <span asp-validation-for="TrainInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Возможное фото поезда при желании")
                <input asp-for="ImgTrain" class="form-control" />
                <span asp-validation-for="ImgTrain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>