@model IEnumerable<TrainzInfo.Models.StationsShadule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzFilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDepet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgTrain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Station)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UzFilia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrive.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfDepet.TimeOfDay)
                </td>
                <td width="70px">
                    @Html.DisplayFor(modelItem => item.TrainInfo)
                </td>
                <td>
                    <img src="@item.ImgTrain" width="150" height="100" />
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.id">Details</a>*@ |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
<style type="text/css">
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>
