@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>
        <big>
            Данный сайт посвящается любителям железнодорожного транспорта, любителям поездов, электричек, электовозов и тепловозов.
            Здесь вы найдете много интересной информации о железнодорожном транспорте и новости
        </big>
    </p>

    <head>
        <meta charset="utf-8">
        <title>Фон</title>
        <style>
            body {
                background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScDNWcFxHDwgif3KnEeJTBP0qABTnFDcaf28vXTq_KqkdFsT87&usqp=CAU);
            }
        </style>
    </head>
</div>
<body>
    @*<div class="text-center">
            <p>

                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/%D0%A7%D0%A18-082%2C_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0%2C_%D0%9A%D0%B8%D0%B5%D0%B2%2C_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%9A%D0%B8%D0%B5%D0%B2-%D0%9F%D0%B0%D1%81%D1%81%D0%B0%D0%B6%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B9_%28Trainpix_207464%29.jpg" width="900" height="600" alt="Железная дорога" title="Электровоз ЧС8" />
            </p>
        </div>*@
    <li class="row">
        <a class="btn btn-info" style="margin:10px;" asp-controller="UserLocomotivePhotos" asp-action="IndexAll">Фото локомотивов от пользователей</a>
        <a class="btn btn-info" style="margin:10px;" asp-controller="UserTrainzPhotoes" asp-action="IndexAll">Фото поездов от пользователей</a>
        <a class="btn btn-info" style="margin:10px; left=50px;" asp-controller="Electic_locomotive" asp-action="Index">Смотреть весь список электровозов</a>
        <a class="btn btn-info" style="margin:10px; left:50px;" asp-controller="DieselLocomoives" asp-action="Index">Смотреть весь список тепловозов</a>
        <a class="btn btn-info" style="margin:10px; left:50px;" asp-controller="ElectricTrains" asp-action="Index">Смотреть весь список электричек</a>
        <a class="btn btn-info" style="margin:10px; left:50px;" asp-controller="Diesel_trainz" asp-action="Index">Смотреть весь список дизель - поездов </a>
        <a class="btn btn-info" style="margin:10px; left=50px;" asp-controller="Stations" asp-action="IndexAll">Смотреть весь список станций</a>
    </li>

    <table align="center">
        <thead>
                <tr>

                    <th>
                        @Html.DisplayName("Картинка")
                    </th>
                    <th>
                        @Html.DisplayName("Название")
                    </th>
                    <th>
                        @Html.DisplayName("Дата")
                    </th>
                    
                </tr>
            </thead>
        <tbody>
            @foreach (NewsInfo item in Model)
            {
                if (item.NameNews != "")
                {
                    <tr>

                        <td>
                            <img src="@item.Imgsrc" width="360" height="200" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameNews)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime.Year)
                            
                        </td>
                        <td>
                            <a id="btn" class="btn btn-info" asp-controller="NewsInfoes" asp-action="Details" asp-route-id="@item.id">Смотреть полную статью</a>

                            @*<a asp-action="Details" asp-route-id="@item.id">Детальная информация</a>*@
                            @*<a asp-action="Delete" asp-route-id="@item.id">Удалить</a>*@
                            @*<a class="btn btn-danger" asp-controller="NewsInfoes" asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <style type="text/css">
        td {
            background: #6a5eff; /* Цвет фона */
            position: center;
            padding: 5px; /* Поля в ячейках */
            opacity: 1.9; /* Полупрозрачность таблицы */
            filter: alpha(Opacity=50); /* Для IE */
            width: 700px;
            color: white;
            text-decoration: solid;
        }
    </style>
    <@*style>
        table {
            width: 800%; /* Ширина таблицы в процентах */
            left: 160px;
            top: 50px;
        }

        .col1 {
            width: 130px; /* Ширина ячейки */
        }
    </style>*@
    <style>
        #btn {
            width: 150px;
        }
    </style>
    <style>
        #btn_column {
            left: 1150px;
            top: 70px;
            width: 500px;
        }
    </style>
    <style>

        #btn1 {
            margin: 10px;
        }
    </style>
</body>