@model TrainzInfo.Models.DieselTrains

@{
    ViewData["Title"] = Model.SuburbanTrainsInfo.Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div style="background-color:aliceblue;">
        <div style="margin:20px">
            <img class="img-thumbnail" width="450" height="450"
                 src="@Url.Action("GetImage", "DieselTrains",
                                         new { Model.Id })" />
        </div>
        <div style="position:relative; left:540px; top:-270px; font-size:25px; background-color:aliceblue; width:400px">
            <div>@Html.DisplayName("Назва: ") @Html.DisplayName(Model.SuburbanTrainsInfo.Model)</div>
            <div>@Html.DisplayName("Номер: ") @Html.DisplayName(Model.NumberTrain.ToString())</div>
            <div>@Html.DisplayName("Область: ") @Html.DisplayName(Model.DepotList.City.Oblasts.Name)</div>
            <div>@Html.DisplayName("Місто прописки: ") @Html.DisplayName(Model.DepotList.City.Name)</div>
            <div>@Html.DisplayName("Філія: ") @Html.DisplayName(Model.DepotList.UkrainsRailway.Name)</div>
            <div>@Html.DisplayName("Депо прописки: ") @Html.DisplayName(Model.DepotList.Name)</div>
            @*  <div style="width:450px">@Html.DisplayName("Имя пользователя: ") @Html.DisplayName(Model.User)</div> *@
            <div style="position:relative; left:-470px; top:50px; font-size:22px; width:1000px;">
                <div><p>@ViewBag.baseinfo</p></div>
                <div><p>@ViewBag.allinfo</p></div>
            </div>
        </div>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
