@model TrainzInfo.Models.ElectricTrain

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <hr />

    <div style="background-color:aliceblue; height:450px;">
        <div style="margin:20px"><img src="@Model.Imgsrc" width="650" height="450"></div>
        <div style="position:relative; left:700px; top:-420px; font-size:25px">
            <div>@Html.DisplayName("Название: ") @Html.DisplayName(Model.Name)</div>
            <div>@Html.DisplayName("Колличество вагонов: ") @Html.DisplayName(Model.VagonsCountP)</div>
            <div>@Html.DisplayName("Максимальная скорость: ") @Html.DisplayName(Model.MaxSpeed.ToString())</div>
            <div>@Html.DisplayName("Город приписки: ") @Html.DisplayName(Model.DepotCity)</div>
            <div>@Html.DisplayName("Депо пиписки: ") @Html.DisplayName(Model.DepotTrain)</div>
            <div>@Html.DisplayName("Построено: ") @Html.DisplayName(Model.Created.Year.ToString())</div>
            <div>@Html.DisplayName("Завод постройки") @Html.DisplayName(Model.Plant)</div>
            <div>@Html.DisplayName("Последний КВР: ") @Html.DisplayName(Model.LastKvr.Year.ToString())</div>
            <div>@Html.DisplayName("Завод проводивши КВР: ") @Html.DisplayName(Model.PlaceKvr)</div>
            
        </div>
    </div>
</div>
<div>
    <a class="btn btn-info" target="_blank" asp-action="Edit" asp-route-id="@Model.id">Редактировать</a>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>

