@model TrainzInfo.Models.StationsShadule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StationsShadule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzFilia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzFilia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfDepet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfDepet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberTrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberTrain)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>