@model IEnumerable<TrainzInfo.Models.ElectrickTrainsList>

@{
    ViewData["Title"] = "Index";
}

<h1>Список электричек</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th>
                @Html.DisplayName("Номер поезда")
            </th>
            <th>
                @Html.DisplayName("Депо приписки")
            </th>
            <th>
                @Html.DisplayName("Статус(Ходовая, Списанная...)")
            </th>
            <th>
                @Html.DisplayName("Фото(формат jpg по ссылке)")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberTrain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depo)
            </td>
            <td>
                <img src="@item.Imgsrc" width="300" height="200"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>