@model TrainzInfo.Models.ListRollingStone

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>


<hr />
<div class="row">
    <div class="col-md-4" style="background-color:aliceblue; position:center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" />
                @*<input asp-for="Name" class="form-control" />*@
                @Html.DropDownList("Name", ViewBag.locomotives as SelectList, htmlAttributes: new { @class = "form-control" })
                <div style="position:relative; left:150px; width:300px;">
                    <a class="btn btn-info" target="_blank" style=" width:200px" asp-controller="Electic_locomotive" asp-action="Create">Добавить локомотив</a>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Депо приписки   ")
                @*<input asp-for="Depot" class="form-control" />*@
                @Html.DropDownList("Depot", ViewBag.depots as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Depot" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Город")
                @Html.DropDownList("City", ViewBag.citys as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Статус  ")
                @Html.DropDownList("Status", ViewBag.status as SelectList, htmlAttributes: new { @class = "form-control" })
                <a class="btn btn-success" target="_blank" asp-controller="Status" asp-action="Create">Добавить статус</a>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Фото(ссылка на внешний источник)   ")
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>