@model IEnumerable<TrainzInfo.Models.ListRollingStone>

@{
    ViewData["Title"] = "Рухомий склад";
}

<h1>Список рухомого складу</h1>
<h2>@Html.DisplayName(ViewBag.Depo)</h2>
@*<p>
        <a class="btn btn-info" asp-action="Create">Добавить</a>
    </p>*@
<div>
    @if (ViewBag.locomotives != null)
    {
        @foreach (var item in ViewBag.locomotives as List<Electic_locomotive>)
        {
            <div style="margin:25px; width:1100px; background-color:aliceblue; height:300px">
                <div style="position:relative; left:20px; top:20px;">
                    <div class="img">
                        <img class="img-thumbnail" width="350" height="250"
                             src="@Url.Action("GetImage", "Electic_locomotive",
                        new { item.id })" />
                    </div>
                </div>
                <div style="position:relative; left:410px; top:-180px; font-size:25px">
                    <div>@Html.DisplayName("Назва - ") @Html.DisplayFor(modelItem => item.Seria)</div>
                    <div>@Html.DisplayName("Номер - ") @Html.DisplayFor(modelItem => item.Number)</div>
                    <div>@Html.DisplayName("Швидкість - ") @Html.DisplayFor(modelItem => item.Speed)</div>
                    @if (item.ALlPowerP != null)
                    {
                        <div>@Html.DisplayName("Загальна потужність ТЕД - ") @Html.DisplayFor(modelItem => item.ALlPowerP)</div>
                    }
                    else if (item.DieselPower != null)
                    {
                        <div>@Html.DisplayName("Потужність дизеля - ") @Html.DisplayFor(modelItem => item.DieselPower)</div>
                    }
                </div>
                <div style="position:relative; left:780px; top:-380px; width:250px">


                    @*<a class="btn btn-outline-info" style="width:250px; margin:10px;" asp-action="Details" asp-route-idlocname="@item.Seria" asp-route-number="@item.Number">Детальная информация</a>*@
                    <a class="btn btn-outline-success" style="width:250px; margin:10px;" asp-controller="UserLocomotivePhotos" asp-action="Index" asp-route-name="@item.Seria" asp-route-number="@item.Number">Фото користувачів</a>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
                        {
                            <a class="btn btn-outline-primary" style="width:250px; margin:10px;" asp-action="Edit" asp-route-idlocname="@item.Seria">Редагувати @item.Seria - @item.Number</a>
                            <a class="btn btn-outline-danger" style="width:250px; margin:10px;" asp-action="Delete" asp-route-id="@item.id">Видалити</a>
                        }
                    }
                </div>
            </div>
        }
        @*<a class="btn btn-outline-success" asp-action="EditLocomotive" asp-route-id="@item.id">Редактировать</a> |
            <a class="btn btn-outline-info" asp-action="Details" asp-route-idlocname="@item.Name">Подробно</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-idlocname="@item.Name">Delete</a>*@
    }

    @if (ViewBag.trains != null)
    {
        @foreach (var item in ViewBag.trains as List<ElectricTrain>)
        {
            <div style="margin:25px; width:1100px; background-color:aliceblue; height:300px">
                <div style="position:relative; left:20px; top:20px;">
                    <div class="img">
                        <img class="img-thumbnail" width="350" height="250"
                             src="@Url.Action("GetImage", "ElectricTrains",
                        new { item.id })" />
                    </div>
                </div>
                <div style="position:relative; left:410px; top:-180px; font-size:25px">
                    <div>@Html.DisplayName("Назва: ") @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Model)</div>
                    <div>@Html.DisplayName("Колчество вагонов: ")@Html.DisplayFor(modelItem => item.VagonsCountP)</div>
                    <div>@Html.DisplayName("Максимальная скорость: ")@Html.DisplayFor(modelItem => item.MaxSpeed)</div>
                    <div>@Html.DisplayName("Депо: ") @Html.DisplayFor(modelitem => item.DepotTrain)</div>
                    <div>@Html.DisplayName("Місто: ") @Html.DisplayFor(modelitem => item.DepotCity)</div>
                </div>
                <div style="position:relative; left:780px; top:-380px; width:250px">


                    @*<a class="btn btn-outline-info" style="width:250px; margin:10px;" asp-action="Details" asp-route-idlocname="@item.Seria" asp-route-number="@item.Number">Детальная информация</a>*@
                    <a class="btn btn-outline-success" style="width:250px; margin:10px;" asp-controller="UserLocomotivePhotos" asp-action="Index" asp-route-name="@item.Name">Фото пользователей</a>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin")
                        {
                            @*<a class="btn btn-outline-primary" style="width:250px; margin:10px;" asp-action="Edit" asp-route-id="@item.id">Редактировать @item.Seria - @item.Number</a>
                            <a class="btn btn-outline-danger" style="width:250px; margin:10px;" asp-action="Delete" asp-route-id="@item.id">Удалить</a>*@
                        }
                    }
                </div>
            </div>
        }
        @*<a class="btn btn-outline-success" asp-action="EditLocomotive" asp-route-id="@item.id">Редактировать</a> |
            <a class="btn btn-outline-info" asp-action="Details" asp-route-idlocname="@item.Name">Подробно</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-idlocname="@item.Name">Delete</a>*@
    }
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }

    td {
        background: #fff; /* Цвет фона */
        padding: 5px; /* Поля в ячейках */
        opacity: 0.8; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width 700;
        color: black;
        text-decoration: solid;
    }
</style>