@model IEnumerable<TrainzInfo.Models.ListRollingStone>

@{
    ViewData["Title"] = "Подвиждной состав";
}

<h1>Список локомотивов</h1>
<h2>@Html.DisplayName(ViewBag.Depo)</h2>
@*<p>
        <a class="btn btn-info" asp-action="Create">Добавить</a>
    </p>*@
<div>
    @foreach (var item in ViewBag.locomotives as List<Electic_locomotive>)
    {
        <div class="img">

            <img class="img-thumbnail" width="350" height="250"
                 src="@Url.Action("GetImage", "Electic_locomotive",
                        new { item.id })" />

        </div>
        <div>@Html.DisplayName(item.Seria)</div>
        <div>@Html.DisplayName(item.Number)</div>
        <div>@Html.DisplayName(item.Speed.ToString())</div>
        <div>@Html.DisplayName(item.Depot)</div>
    }
    @*<a class="btn btn-outline-success" asp-action="EditLocomotive" asp-route-id="@item.id">Редактировать</a> |
        <a class="btn btn-outline-info" asp-action="Details" asp-route-idlocname="@item.Name">Подробно</a>
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-idlocname="@item.Name">Delete</a>*@

</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }

    td {
        background: #fff; /* Цвет фона */
        padding: 5px; /* Поля в ячейках */
        opacity: 0.8; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width 700;
        color: black;
        text-decoration: solid;
    }
</style>