@model IEnumerable<TrainzInfo.Models.ListRollingStone>

@{
    ViewData["Title"] = "Index";
}

<h1>Список</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th>
                @Html.DisplayName("Депо")
            </th>
            <th>
                @Html.DisplayName("Страна")
            </th>
            <th>
                @Html.DisplayName("Город")
            </th>
            <th>
                @Html.DisplayName("Статус")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="EditLocomotive" asp-route-id="@item.id">Редактировать</a> |
                    @*<a class="btn btn-outline-info" asp-action="Details" asp-route-idlocname="@item.Name">Подробно</a>*@
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-idlocname="@item.Name">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }

    td {
        background: #fff; /* Цвет фона */
        padding: 5px; /* Поля в ячейках */
        opacity: 0.8; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width 700;
        color: black;
        text-decoration: solid;
    }
</style>