@model IEnumerable<TrainzInfo.Models.ListRollingStone>

@{
    ViewData["Title"] = "Index";
}

<h1>Список локомотивов</h1>
<h2>@Html.DisplayName(ViewBag.Depo)</h2>
<p>
    <a class="btn btn-info" asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <img src="@item.Photo" width="180" height="120">
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="EditLocomotive" asp-route-id="@item.id">Редактировать</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-idlocname="@item.Name">Подробно</a> 
                    @*<a class="btn btn-outline-danger" asp-action="Delete" asp-route-idlocname="@item.Name">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    body {
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScDNWcFxHDwgif3KnEeJTBP0qABTnFDcaf28vXTq_KqkdFsT87&usqp=CAU);
    }
    td {
        background: #fff; /* Цвет фона */
        padding: 5px; /* Поля в ячейках */
        opacity: 0.8; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width 700;
        color: black;
        text-decoration: solid;
    }
</style>