@model IEnumerable<TrainzInfo.Models.UkrainsRailways>

@{
    ViewData["Title"] = "Index";
}

<h1>Филии АТ Укрзализныця</h1>


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                     @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a>*@
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Подробно</a> 
                    @*    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<img src="https://www.imbf.org/karty/images/karta-zheleznyh-dorog-ukrainy-hq.jpg" width="900" height="700">
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>