@model TrainzInfo.Models.Stations

@{
    ViewData["Title"] = "Додати станцію";
}

<h1>Додати станцію</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="background-color:aliceblue">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Назва станції")
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Місто")
                <input type="text" id="cities" asp-for="City" placeholder="Почніть вводити назву міста" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Філія залізниці")
                @Html.DropDownList("Railway", ViewBag.uz as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Railway" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Область")
                @Html.DropDownList("Oblast", ViewBag.oblast as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Oblast" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            @Html.DisplayName("Картинка(ссылка)")
            <input asp-for="Imgsrc" class="form-control" />
            <span asp-validation-for="Imgsrc" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>