@model TrainzInfo.Models.Stations

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <h4>Информация</h4>
    <hr />

    <div style="background-color:aliceblue;">
        <div style="margin:20px; position:relative; left:450px; top:150px; font-size:30px">
            <div>@Html.DisplayName("Город: ") @Html.DisplayFor(model => model.City)</div>
            <div>@Html.DisplayName("Филия: ") @Html.DisplayFor(model => model.Railway)</div>
            <div>@Html.DisplayName("Область: ") @Html.DisplayFor(model => model.Oblast)</div>
        </div>
        <div style="position:relative; top:-120px; margin:20px;"><img src ="@Model.Imgsrc" width="400" height="300"></div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
