@{
    ViewData["Title"] = "TrainzInfo";
}

<head>
    <meta charset="utf-8">
    <title>Фон</title>

</head>
<div class="text-center">



    <h1 class="display-4">Ласкаво просимо на сайт TrainzInfo!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="maincardpage">
        <p>
            <div class="main_text">
                Сайт ТреінзІнфо присвячується любителям залізничного транспорту, любителям поїздів, електричок, електовозів та тепловозів.
                Тут ви знайдете багато цікавої інформації про залізничний транспорт та новини з залізниці та транспорту
            </div>
        </p>


        <div class="btn_main_panel">
            @* <a class="btn btn-info" style="margin:10px; width:500px;" asp-controller="UserLocomotivePhotos" asp-action="IndexAll">Фото локомотивов от пользователей</a> *@
            <a class="btn btn-info btn_news" style="width:160px" asp-area="" asp-controller="Locomotive" asp-action="Index">Локомотиви</a>
            @* <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="UserTrainzPhotoes" asp-action="IndexAll">Фото поездов от пользователей</a> *@
            <a class="btn btn-info btn_news" style="margin:10px; width:160px" asp-controller="ElectricTrains" asp-action="Index">Електропоїзди</a>
            <a class="btn btn-info btn_news" style="margin:10px;width:160px" asp-controller="DieselTrains" asp-action="Index"> Дизель - поїзди </a>
            @* <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="RailwayUsersPhotoes" asp-action="Index">Красивые фотографии от пользователей</a> *@
        </div>
    </div>

</div>


<body>
    @*<div class="text-center">
            <p>

                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/%D0%A7%D0%A18-082%2C_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0%2C_%D0%9A%D0%B8%D0%B5%D0%B2%2C_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%9A%D0%B8%D0%B5%D0%B2-%D0%9F%D0%B0%D1%81%D1%81%D0%B0%D0%B6%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B9_%28Trainpix_207464%29.jpg" width="900" height="600" alt="Железная дорога" title="Электровоз ЧС8" />
            </p>
        </div>*@

    <div class="infocont" style=" position:relative; left:150px; top:20px; width:800px">
        @foreach (NewsInfo info in Model)
        {
            if (info.NameNews != "")
            {
                <div class="basecont" style="background-color:azure; margin:20px">
                    <div class="img">
                        @if (info.NewsImage == null)
                        {
                            <img src="@info.Imgsrc" width="350" height="350">
                        }
                        else
                        {
                            <img class="img-thumbnail" width="350" height="350"
                                 src="@Url.Action("GetImage", "NewsInfoes",
                        new { info.id })" />
                        }
                    </div>
                    <div class="Data" style="color:black; margin:10px">
                        @Html.DisplayFor(modelItem => info.DateTime)
                    </div>
                    <div style="margin:20px">
                        <div class="namenews">
                            @Html.DisplayFor(modelItem => info.NameNews)
                        </div>
                        <div class="namenews">
                            @Html.DisplayFor(modelItem => info.BaseNewsInfo)
                        </div>
                    </div>
                    <div class="btn">
                        <a class="btn btn-info btn_news" asp-controller="NewsInfoes" asp-action="Details" asp-route-id="@info.id">Дивитися новину</a>
                        
                        @if (ViewBag.user != null)
                        {
                            if (ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher")
                            {
                                <a class="btn btn-outline-info btn_news" asp-controller="NewsInfoes" asp-action="AddImageForm" asp-route-id="@info.id">Додати зображення</a>
                                <a class="btn btn-danger" asp-controller="NewsInfoes" asp-action="Delete" asp-route-id="@info.id">Видалити</a>
                            }
                        }

                    </div>
                </div>
            }
        }
    </div>

    



</body>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style> 