@{
    ViewData["Title"] = "TrainzInfo";
}

@model IEnumerable<NewsInfo>

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на сайт TrainzInfo!</h1>

    <div class="maincardpage">
        <div class="main_text">
            Сайт ТреінзІнфо присвячується любителям залізничного транспорту, любителям поїздів, електричок, електовозів та тепловозів.
            Тут ви знайдете багато цікавої інформації про залізничний транспорт та новини з залізниці та транспорту
        </div>

        <div class="btn_main_panel">
            <a class="btn btn-info btn_news" style="width:160px; margin:10px;" asp-controller="Locomotive" asp-action="Index">Локомотиви</a>
            <a class="btn btn-info btn_news" style="margin:10px; width:160px" asp-controller="ElectricTrains" asp-action="Index">Електропоїзди</a>
            <a class="btn btn-info btn_news" style="margin:10px;width:160px" asp-controller="DieselTrains" asp-action="Index">Дизель-поїзди</a>
            <a class="btn btn-info btn_news" style="margin:10px; width:160px" asp-controller="Stations" asp-action="IndexAll">Станції</a>
        </div>
    </div>
</div>

<div class="infocont container mt-4">
    @foreach (var info in Model)
    {
        if (!string.IsNullOrWhiteSpace(info.NameNews))
        {
            <div class="basecont card shadow-sm mb-4 p-3">
                <div class="row">
                    <div class="col-md-4">
                        @if (info.NewsImage == null)
                        {
                            <img src="@info.Imgsrc" class="img-fluid rounded" alt="Новина">
                        }
                        else
                        {
                            <img class="img-thumbnail"
                                 src="@Url.Action("GetImage", "NewsInfoes", new { info.id })"
                                 alt="Зображення новини" />
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="text-muted">@info.DateTime.ToString()</div>
                        <h3>@info.NameNews</h3>
                        <p>@info.BaseNewsInfo</p>
                        <a class="btn btn-info btn_news" asp-controller="NewsInfoes" asp-action="Details" asp-route-id="@info.id">Дивитися новину</a>

                        @if (ViewBag.user != null && (ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher"))
                        {
                            <a class="btn btn-outline-info btn_news" asp-controller="NewsInfoes" asp-action="AddImageForm" asp-route-id="@info.id">Додати зображення</a>
                            <a class="btn btn-danger" asp-controller="NewsInfoes" asp-action="Delete" asp-route-id="@info.id">Видалити</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style> 