@model TrainzInfo.Models.UserLocomotivePhotos

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<style>
    body {
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScDNWcFxHDwgif3KnEeJTBP0qABTnFDcaf28vXTq_KqkdFsT87&usqp=CAU);
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayName("Название локомотива");
                @*<label asp-for="NameLocomotive" class="control-label"></label>*@
                <input asp-for="NameLocomotive" class="form-control" />
                <span asp-validation-for="NameLocomotive" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Имя");
                @*<label asp-for="UserName" class="control-label"></label>*@
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Фамилия");
                @*<label asp-for="UserSername" class="control-label"></label>*@
                <input asp-for="UserSername" class="form-control" />
                <span asp-validation-for="UserSername" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Краткие сведенья");
                @*<label asp-for="BaseInfo" class="control-label"></label>*@
                <textarea asp-for="BaseInfo" class="form-control" />
                <span asp-validation-for="BaseInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Подробности: дата сьемки, место сьемки");
                @*<label asp-for="AllInfo" class="control-label"></label>*@
                <textarea id="area" asp-for="AllInfo" class="form-control" />
                <span asp-validation-for="AllInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayName("Ссылка на фото");
                @*<label asp-for="PhotoLink" class="control-label"></label>*@
                <input id="input" asp-for="PhotoLink" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>
    #area {
        width: 600px;
        height: 100px;
    }
</style>
<style>
    #input {
        width: 600px;
    }
</style>
<div>
    <a asp-action="Index">Back to List</a>
</div>

