@model IEnumerable<TrainzInfo.Models.UserLocomotivePhotos>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IndexAll";
}
<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>
@if (ViewBag.user != null)
{
    if (ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Reader")
    {
        <a class="btn btn-info" asp-action="Create">Добавить Ваше фото</a>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Фото")
            </th>
            <th>
                @Html.DisplayName("Название локомотива")
            </th>
            <th>
                @Html.DisplayName("Краткая информация")
            </th>
            <th>
                @Html.DisplayName("Общее сведения")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img class="img-thumbnail" width="350" height="250"
                     src="@Url.Action("GetImage", "UserLocomotivePhotos",
                        new { item.Id })" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameLocomotive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllInfo)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Информация</a>
                @if (ViewBag.user != null)
                {
                    if (ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin" || ViewBag.user.Role == "Reader")
                    {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<style>
    td {
        background: #6a5eff; /* Цвет фона */
        position: center;
        padding: 5px; /* Поля в ячейках */
        opacity: 1.9; /* Полупрозрачность таблицы */
        filter: alpha(Opacity=50); /* Для IE */
        width: 700px;
        color: white;
        text-decoration: solid;
    }
</style>