@model IEnumerable<TrainzInfo.Models.UserLocomotivePhotos>

@{
    ViewData["Title"] = "Index";
}

<h1>Список</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Добавить</a>
    <a class="btn btn-info" asp-action="IndexAll">Показать весь список</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Фото")
            </th>
            <th>
                @Html.DisplayName("Имя")
            </th>
            <th>
                @Html.DisplayName("Фамилия")
            </th>
            <th>
                @Html.DisplayName("Краткая информация")
            </th>
            <th>
                @Html.DisplayName("Общее сведения")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
