@model TrainzInfo.Models.Users

@{
    ViewData["Title"] = "Користувач";
}

<h1>@Model.Name</h1>

<div>

    <hr />
    <div class="row" style="background-color:aliceblue">
        <div class="img">
            @if (Model.Image == null)
            {
                <p>Картинка відсутня</p>
            }
            else
            {
                <img class="img-thumbnail" width="350" height="350"
                     src="@Url.Action("GetImage", "Users",
             new { Model.Id })" />
            }
        </div>
        <div style="font-size:30px">
            <div>@Html.DisplayName("Вік: ") @Html.DisplayName(Model.Age.ToString())</div>
            <div>@Html.DisplayName("Пошта: ") @Html.DisplayName(Model.Email)</div>
            <div>@Html.DisplayName("Роль: ") @Html.DisplayName(Model.Role)</div>
        </div>
    </div>
    <div style="position:absolute; left:1150px; top:250px; width:200px">
        <a class="btn btn-info" style="margin:10px; width:220px" asp-action="Edit" asp-route-id="@Model.Id">Редагувати дані</a>
        <a class="btn btn-info" style="margin:10px; width:220px" asp-action="AddAvatarForm" asp-route-id="@Model.Id">Додати аватар</a>

    </div>
    
</div>
@if (ViewBag.user != null)
{
    <div class="btn_panel" style=" background-color:aliceblue; position: relative; left:180px; top:20px; width:420px">
        <div style="left:50px">
            @if (ViewBag.user.Role != null && ViewBag.user.Role == "Superadmin")
            {
                <a class="btn btn-info btn_news" style="margin:10px" asp-controller="Users" asp-action="Index">Користувачі</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="Roles" asp-action="Index">Ролі</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="IpAdresses" asp-action="Index">IP</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="MainImages" asp-action="Index">Основні зображення на сайті</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="NewsInfoes" asp-action="Create">Створити новину</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-controller="NewsInfoes" asp-action="UpdateNews">Оновити новини</a>
                <a class="btn btn-info btn_news" style="margin:10px;" asp-action="ModerationView">Премодерація</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="MainImages" asp-action="Index">Основні зображення</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-action="Index">Користувачі</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="Cities" asp-action="Index">Міста</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="Cities" asp-action="Create">Додати місто</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="Oblasts" asp-action="Index">Області</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="UkrainsRailways" asp-action="RollingStoneInfo">Рухомий склад</a>
                <a class="btn btn-info btn_new" style="margin:10px" asp-controller="Plants" asp-action="Create">Додати підприємтсво</a>

            }
            else if (ViewBag.user.Role != null && ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Superadmin")
            {
                <a class="btn btn-info" style="margin:10px; width:400px;" asp-controller="NewsInfoes" asp-action="Create">Створити новину</a>
            }
        </div>
    </div>
}

<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>