@model TrainzInfo.Models.Metro

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>

    <div>
        <h4>@Model.Name</h4>
        <div>
            <a class="btn btn-primary" asp-controller="MetroLines" asp-action="Index" asp-route-Metro="@Model.Name">Ветки метро</a>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Information)
            </dd>
            <dt class="col-sm-2">
                
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.Photo" width="500" height="500">
            </dd>
        </dl>
    </div>
    <div>
        @if (ViewBag.user != null)
        {
            @if (ViewBag.user.Role == "Publisher" || ViewBag.user.Role == "Admin" || ViewBag.user.Role == "Superadmin")
            {
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.id">Редагуввати</a>

            }
        }
        <a asp-action="Index">Назад на главную</a>
    </div>
</body>
</html>


<style>
    body {
        background: url(https://klike.net/uploads/posts/2020-04/1586763576_18.jpg);
    }
</style>